@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Space+Mono:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #efbbff;
  background-image: url('/src/assets/dsc_logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain
}

.clip{
  clip-path: polygon(0 0, 86% 0, 100% 16%, 100% 70%, 100% 100%, 16% 100%, 0 86%, 0% 30%);
}

.section-title {
  font-family: "Orbitron", sans-serif;
  color: #660066;
  font-weight: 700;
;
}

.tier-title {
  font-family: "Space Mono", monospace;
  color: #660066;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
