@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Space+Mono:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.clip{
  clip-path: polygon(0 0, 86% 0, 100% 16%, 100% 70%, 100% 100%, 16% 100%, 0 86%, 0% 30%);
}
.clip-2{
  clip-path: polygon(0 0, 100% 0, 100% 16%, 100% 70%, 75% 100%, 16% 100%, 0 100%, 0% 30%);
}
.clip-3{
  clip-path: polygon(25% 0%, 75% 0%, 100% 30%, 100% 100%, 0 100%, 0 30%);
}

.heading{
  font-family: "Orbitron", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #EFBBFF;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #EFBBFF;
}